{deps, []}.

{shell, [{apps, [testutils]}]}.

{alias, [
    {check, [
        fmt,
        % hank,
        lint,
        {do, "default as test dialyzer"},
        {do, "default as test xref"},
        eunit,
        ct,
        ex_doc,
        cover
    ]}
]}.

{project_plugins, [
    erlfmt,
    rebar3_lint,
    rebar3_hank,
    rebar3_ex_doc
]}.

{dialyzer, [
    {warnings, [unknown]},
    {plt_apps, all_deps},
    {plt_extra_apps, [eunit]},
    incremental
]}.

{erlfmt, [
    write,
    {print_width, 80},
    {files, [
        "rebar.config{,.script}",
        "elvis.config",
        "config/*.config{,.script}",
        "{src,include,test}/*.{hrl,erl,app.src}"
    ]}
]}.
{extra_src_dirs, [{"test", [{recursive, true}]}]}.

{profiles, [
    {test, [
        {extra_src_dirs, [{"test", [{recursive, true}]}]},
        % Run tests in parallel
        % {eunit_tests, [{inparallel, testutils_tests}]},
        % Use unite for pretty-printing
        {deps, [unite]},
        {eunit_opts, [no_tty, {report, {unite_compact, []}}]}
    ]}
]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
    {source_url, <<"https://github.com/eproxus/testutils">>},
    {extras, [
        {'README.md', #{title => <<"Overview">>}},
        {'LICENSE.md', #{title => <<"License">>}}
    ]},
    {main, <<"readme">>}
]}.
